@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 110%;
    background-image: url(../assets/images/sunrise.png);
    background-position: left center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.brand-logo i{
    margin-right:4px !important;
}

nav .brand-logo {
    left: auto;
    transform:none;
    margin-left: 6px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    max-height: 64px;
}
.login-status{
    margin:5px 0 0 5px;
}

.modal{
    max-height: 100% !important;
}

.no-bottom-margin{
    margin-bottom: 0;
}

.modal-close{
    margin-right:50px;
}

h3{
    margin:20px 0;
}
h4{
    margin:15px 0;
}
h5{
    margin: 12px 0;
}
h6{
    margin:10px 0;
}
label{
    color:darkslategray;
}

label.active{
    color:darkslategray;
}

/* Search */
/* Target pasted from Devtools */

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    border-bottom: 1px solid #9e9e9e !important;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #9e9e9e;
}

.search-label{
    font-size: 1.3rem;
}
.input-field>label:not(.label-icon).active {
    transform: translateY(-14px) scale(0.9);
}
/* comments structure */
.comment-body li{
    padding-bottom: 0 !important;
}

.comment-body li h6{
    padding: 15px 0 !important;
}

.comment-card{
    padding:1rem;
}

.make-comment-card{
    padding-bottom: 0;
}

.comment-body li{
    padding-bottom: 20px;
}

/* .input-field input{
    word-break: normal;
} */

.make-comment-card label{
    padding-bottom: 1rem;
    margin-bottom: 5px;
}
.make-comment-card label.active{
    padding-bottom: 0;
    margin-bottom: 5px;
}

.make-comment-card textarea{
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 3px;
    height:fit-content;
}
.make-comment-card textarea:focus{
    outline: none;
}
.make-comment-card .input-field{
    margin-bottom: 3px;
}

.comment-btns{
    text-align: center;
    margin-bottom: 5px;
}

/* .btn-small{
    height: 30px;
} */

/* Add Quote */
.theme-field{
    margin-bottom: 0;
}

/* My quotes page */

.collapsible-header{
    padding:0;
    margin:0;
}

.collapsible-card{
    width:100%;
    margin:0;
    padding:1rem;
}

.collapsible-header .row{
    margin:0;
}

.collapsible-header i{
    margin-right: 0;
}

.btn-col{
    text-align: right !important;
    margin-bottom: 5px;
}

.collapsible-body{
    padding:5px 15px;
}

.small-info{
    display:none;
}
.theme{
    text-align: center;
}


@media only screen and (max-width: 768px){
/* Logo */
.brand-logo i{
    margin-top:10px !important;
}

h3{
    font-size:x-large;
}
.big-info{
    display:none
}  
.small-info{
    display:block;
}
/* Browse/search results */
.theme-small{
    text-align: right;
    padding-top: 3px;
}
}

/* Confirm delete modal */
#modal3 .modal-footer{
    text-align: center !important;
}

/* My Comments Page */
.comments-btns{
    text-align: center !important;
}