{% extends "base.html" %}
{% block content %}
<h3 class="center-align">Post a Quote</h3>
<h6 class="center-align">(Your quote will be visible in My Quotes)</h6>
<div class="row card-panel add-quote-card">
    <form class="col s12" method="POST" action="{{ url_for('add_quote') }}">
        <div class="row quote-row">
            <div class="input-field theme-field col s12">
                <i class="fas fa-bible prefix" aria-hidden="true"></i><span class="sr-only">Bible</span>
                <select name="theme" id="theme" class="validate" required>
                    <option value="" disabled selected>Choose a Theme</option>
                    
                    {% for _theme in themes %}
                    <option value="{{ _theme.theme }}">{{ _theme.theme }}</option>
                    {% endfor %}
                    <option value="enter-new-theme" id="enter-new-theme"><strong>Add a new theme</strong></option>
                </select>
                <input type="text" id="new_theme" name="new_theme" class="" placeholder="Add a New Theme" hidden>
                <label for="theme">Theme</label>
            </div>
        </div>

        <!-- Book -->
        <div class="row quote-row">
            <div class="input-field col s12">
                <i class="fas fa-book-open prefix" aria-hidden="true"></i><span class="sr-only">Book open</span>
                <input id="book" name="book" minlength="3" maxlength="50"
                    type="text" class="validate" required>
                <label for="book">Book</label>
            </div>
        </div>

        <!-- Chapter -->
        <div class="row quote-row">
            <div class="input-field col s12">
                <i class="fas fa-scroll prefix" aria-hidden="true"></i><span class="sr-only">Scroll</span>
                <input id="chapter" name="chapter" minlength="1" maxlength="3"
                 type="text" class="validate" required>
                <label for="chapter">Chapter</label>
            </div>
        </div>

        <!-- Start verse -->
        <div class="row quote-row">
            <div class="input-field col s12">
                <i class="fas fa-quote-left prefix" aria-hidden="true"></i><span class="sr-only">Quote left</span>
                <input id="start_verse" name="start_verse" minlength="1" maxlength="3"
                 type="text" class="validate" required>
                <label for="start_verse">Start Verse</label>
            </div>
        </div>

        <!-- End verse -->
        <div class="row quote-row">
            <div class="input-field col s12">
                <i class="fas fa-quote-right prefix" aria-hidden="true"></i><span class="sr-only">Quote right</span>
                <input id="end_verse" name="end_verse" minlength="1" maxlength="3"
                 type="text">
                <label for="end" class="end-label">End Verse (if longer than a single verse) </label>
            </div>
        </div>

        <!-- text -->
        <div class="row quote-row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix"aria-hidden="true"></i><span class="sr-only">Align left</span>
                <textarea id="text" name="text" class="materialize-textarea validate" required></textarea>
                <label for="text">Text</label>
            </div>
        </div>

        <!-- submit button -->
        <div class="row ">
            <div class="col s12 center-align">
                <button type="submit" class="btn">
                    Add Quote <i class="fas fa-plus-square right" aria-hidden="true"></i><span class="sr-only">Plus square</span>
                </button>
            </div>
        </div>
    </form>

</div>


<script>
// Javascript to only either select a theme or add a new theme
// Select elements
const theme = document.querySelector('#theme');
const newTheme = document.querySelector('#new_theme');

// Add event listener
theme.addEventListener('change', (event) => {
    // Check if new theme option is selected from dropdown
    let isNewTheme = event.target.value === "enter-new-theme";

    // if it is, remove hidden from input
    if (isNewTheme) {
        newTheme.removeAttribute ("hidden");
        newTheme.classList.add("validate");
        newTheme.setAttribute("required", true);
        // Want theme (choose a theme dropdown) to keep qreen line not go red when input entered
        theme.classList.remove("validate");
    }
    // Otherwise, add hidden
    else{
        newTheme.setAttribute("hidden", true);
    }

});
</script>
{% endblock %}

