{% extends "base.html" %}
{% block content %}
<h4 class="center">ADMIN</h4>
{% if all_quotes | length > 0 %}
<ul class="collapsible">
    {% for quote in all_quotes %}
    <li>
        <div class="collapsible-header">
            <div class="card-panel collapsible-card">
                <!-- Row hidden on small screens to render different format -->
                <div class="row big-info">
                    <div class="col s4">
                        <h6 class="justify-left">{{ quote.book }} {{ quote.chapter }} :
                            {{ quote.start_verse }}{% if quote.end_verse%}-{{quote.end_verse}}{% endif %}</h6>
                    </div>
                    <div class="col s4">
                        <h6 class="theme">Theme: <strong>{{ quote.theme }}.</strong></h6>
                    </div>
                    <div class="col s4 btn-col">
                        <a href="{{ url_for('edit_quote', quote_id=quote._id) }}" class="btn-small"><i
                                class="fas fa-pencil-alt"></i></a>
                        <a href="#modal1{{quote._id}}" class="btn-small modal-trigger"><i
                                class="far fa-trash-alt"></i></a>
                    </div>
                </div>
                <!-- Repeated row code with changed format only displaying on small screens -->
                <div class="row small-info">
                    <div class="col s5">
                        <h6 class="justify-left">{{ quote.book }} {{ quote.chapter }} :
                            {{ quote.start_verse }}{% if quote.end_verse%}-{{quote.end_verse}}{% endif %}</h6>
                    </div>
                    <div class="col s7 btn-col">
                        <a href="{{ url_for('edit_quote', quote_id=quote._id) }}" class="btn-small"><i
                                class="fas fa-pencil-alt"></i></a>
                        <a href="#modal2{{quote._id}}" class="btn-small modal-trigger"><i
                                class="far fa-trash-alt"></i></a>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h6>Theme: <strong class="theme">{{ quote.theme }}</strong></h6>
                        </div>
                    </div>
                </div>
                <!-- End repeated code -->
                <!-- Quote text -->
                <div class="row">
                    <div class="col s12">
                        <h5>{{quote.text}}</h5>
                    </div>
                </div>
                <!-- End Quote -->
                <div class="row">
                    <div class="col s6">
                        <strong>Added by:</strong> {{quote.added_by}}
                    </div>
                    <div class="col s6 btn-col">
                        <i class="fas fa-caret-down" aria-hidden="true"></i><span class="sr-only">Caret
                            down</span>Comments
                    </div>
                </div>
            </div>
        </div>
        <!--Confirm delete quote modal-->
        <div id="modal1{{quote._id}}" class="modal">
            <div class="modal-content">
                <h3>Confirm Delete</h3>
                <h5>Are you sure that you want to delete this quote?</h5>
                <p>(Comments will also be deleted).</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close btn blue ">
                    Cancel<i class="far fa-times-circle right" aria-hidden="true"></i><span class="sr-only">Times
                        circle</span></a>
                <a href="{{ url_for('delete_quote', quote_id=quote._id, delete_theme=quote.theme,next=next_page) }}"
                    class="modal-close btn red ">
                    Delete<i class="far fa-trash-alt right" aria-hidden="true"></i><span
                        class="sr-only">Trash</span></a>
            </div>
        </div>
        <!-- End modal -->
        <!--Confirm delete comment modal-->
        <div id="modal2{{quote._id}}" class="modal">
            <div class="modal-content">
                <h3>Confirm Delete</h3>
                <h5>Are you sure that you want to delete this quote?</h5>
                <p>(Comments will also be deleted).</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close btn blue text-shadow">
                    Cancel<i class="far fa-times-circle right" aria-hidden="true"></i><span class="sr-only">Times
                        circle</span></a>
                <a href="{{ url_for('delete_quote', quote_id=quote._id, delete_theme=quote.theme,next=next_page) }}"
                    class="modal-close btn red text-shadow">
                    Delete<i class="fa-trash-alt right" aria-hidden="true"></i><span class="sr-only">Trash</span></a>
            </div>
        </div>
        <!-- End modal -->

        <!-- Comments section -->
        <div class="collapsible-body comment-body">
            <ul>
                {% if quote.id in all_comments|map(attribute="quote_id") %}
                {% for comment in all_comments %}
                {% if comment.quote_id == quote.id %}
                <li>
                    <div class="card-panel comment-card">
                        <div class="col s12 btn-col">
                            <a href="#modal3{{comment._id}}" class="btn-small modal-trigger"><i class="far fa-trash-alt"
                                    aria-hidden="true"></i><span class="sr-only">Trash</span></a>
                        </div>
                        <div>
                            {{ comment.comment }}
                        </div>
                        <div class="btn-col">
                            <strong>By: </strong>{{ comment.comment_by }}
                        </div>
                    </div>
                </li>

                <!--Confirm delete modal-->
                <div id="modal3{{comment._id}}" class="modal">
                    <div class="modal-content">
                        <h3>Confirm Delete</h3>
                        <h5>Are you sure that you want to delete this comment?</h5>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close btn blue text-shadow">
                            Cancel<i class="far fa-times-circle right" aria-hidden="true"></i><span
                                class="sr-only">Times circle</span></a>
                        <a href="{{ url_for('delete_comment', comment_id=comment._id, next=next_page) }}"
                            class="modal-close btn red text-shadow">
                            Delete<i class="far fa-trash-alt right" aria-hidden="true"></i><span
                                class="sr-only">Trash</span></a>
                    </div>
                </div>
                <!-- End modal -->
                {% endif %}
                {% endfor %}
                {% else %}
                <li>
                    <h6>There are no comments about this quote yet. </h6>
                </li>
                {% endif %}
                <li>
                    <div class="card-panel make-comment-card">
                        <form method="POST" action="{{ url_for('comment', quote_id=quote._id, next=next_page) }}">
                            <div class="input-field">
                                <i class="far fa-comment search-label prefix" aria-hidden="true"></i><span
                                    class="sr-only">Speech bubble</span>
                                <label for="admin-comment"> Make a
                                    comment</label>
                                <textarea name="comment" id="admin-comment" minlength="3" type="text"
                                    class="materialize-textarea"></textarea>
                            </div>
                            <div class="comment-btns col s12"><button class="btn-small" type="submit">Post</button>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <!--Confirm delete quote modal-->
        <div id="modal1{{quote._id}}" class="modal">
            <div class="modal-content">
                <h3>Confirm Delete</h3>
                <h5>Are you sure that you want to delete this quote?</h5>
                <p>(Comments will also be deleted).</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close btn blue text-shadow">
                    Cancel<i class="far fa-times-circle right" aria-hidden="true"></i><span class="sr-only">Times
                        circle</span></a>
                <a href="{{ url_for('delete_quote', quote_id=quote._id, delete_theme=quote.theme) }}"
                    class="modal-close btn red text-shadow">
                    Delete<i class="far fa-trash-alt right" aria-hidden="true"></i><span
                        class="sr-only">Trash</span></a>
            </div>
        </div>
        <!-- End modal -->
        <!--Confirm delete modal (repeated small screen layout)-->
        <div id="modal2{{quote._id}}" class="modal">
            <div class="modal-content">
                <h3>Confirm Delete</h3>
                <h5>Are you sure that you want to delete this quote?</h5>
                <p>(Comments will also be deleted).</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close btn blue text-shadow">
                    Cancel<i class="far fa-times-circle right" aria-hidden="true"></i><span class="sr-only">Times
                        circle</span></a>
                <a href="{{ url_for('delete_quote', quote_id=quote._id, delete_theme=quote.theme) }}"
                    class="modal-close btn red text-shadow">
                    Delete<i class="far fa-trash right" aria-hidden="true"></i><span class="sr-only">Trash</span></a>
            </div>
        </div>
        <!-- End modal -->
    </li>
    {% endfor %}
</ul>
{% else %}
<h5 class="center">The quotes database is currently empty.</h5>
{% endif %}
<br>

{% endblock %}