<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
  <title>Bible Quotes 4U</title>
</head>

<body>
  <header>
    <nav class="nav-extended">
      <div class="nav-wrapper">
        <a href="{{ url_for('render_homepage') }}" class="brand-logo">Bible Quotes 4U</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>

        <ul class="right hide-on-med-and-down">
          <li><a href="{{ url_for('render_homepage') }}">Home</a></li>
          {% if session.user %}
        <li><a href="{{ url_for('add_quote') }}">Add A Quote</a></li>
        <li><a href="{{ url_for('my_quotes') }}">My Quotes</a></li>
        <li><a href="{{ url_for('my_comments') }}">My Comments</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
      {% else %}
        <li><a class="modal-trigger" href="#modal2">Login</a></li>
        <li><a class="modal-trigger" href="#modal1">Register</a></li>
      {% endif %}
        </ul><br>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li><a href="{{ url_for('render_homepage') }}">Home</a></li>
      {% if session.user %}
        <li><a href="{{ url_for('add_quote') }}">Add A Quote</a></li>
        <li><a href="{{ url_for('my_quotes') }}">My Quotes</a></li>
        <li><a href="{{ url_for('my_comments') }}">My Comments</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
      {% else %}
      <li><a class="modal-trigger" href="#modal2">Login</a></li>
      <li><a class="modal-trigger" href="#modal1">Register</a></li>
      {% endif %}
    </ul>
    
    <!-- Register Modal -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h3 class="center-align">Register</h3>

        <div class="row">
          <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel no-bottom-margin">
              <!-- username -->
              <div class="row">
                <div class="input-field col s12">
                  <i class="fas fa-user-plus prefix light-blue-text text-darken-4"></i>
                  <input id="username" name="username" type="text" minlength="5" maxlength="15"
                    pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                  <label for="username">Username</label>
                </div>
              </div>
              <!-- passowrd -->
              <div class="row">
                <div class="input-field col s12">
                  <i class="fas fa-user-lock prefix light-blue-text text-darken-4"></i>
                  <input id="password" name="password" type="password" minlength="5" maxlength="15"
                    pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                  <label for="password">Password</label>
                </div>
              </div>
              <!-- confirm passowrd -->
              <div class="row">
                <div class="input-field col s12">
                  <i class="fas fa-user-check prefix light-blue-text text-darken-4"></i>
                  <input id="confirm-password" name="confirm-password" type="password" minlength="5" maxlength="15"
                    pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                  <label for="confirm-password">Confirm Password</label>
                </div>
              </div>
              <!-- register button-->
              <div class="row">
                <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                  Register <i class="fas fa-sign-in-alt"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-light btn-small red"><i class="fas fa-times"></i>Cancel</a>
        </div>
      </div>
      </div>

      <!-- login modal -->
  <div id="modal2" class="modal">
    <div class="modal-content">
      <h3 class="center-align">Log In</h3>

    <div class="row no-bottom-margin">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
            <div class="card-panel no-bottom-margin">
                <!-- username -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-cog prefix light-blue-text text-darken-4"></i>
						<input id="username" name="username" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
						<label for="username">Username</label>
					</div>
                </div>
                <!-- passowrd -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="fas fa-user-lock prefix light-blue-text text-darken-4"></i>
                        <input id="password" name="password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- login -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                        Log In <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-light btn-small red"><i class="fas fa-times"></i>Cancel</a>
    </div>
  </div>
          
  </header>

  <section>
    <!-- flash messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="row flashes" id="flash">
                    <h4 class="light-blue lighten-4 center-align">{{ message }}</h4>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</section>


  <main class="container">
    {% block content %}
    {% endblock %}
  </main>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
{% block scripts %}
{% endblock %}

</html>