{% extends "base.html" %}
{% block content %}

{% if theme_quotes|length > 0 %}

<h3 class="center">Bible quotes about {{ theme_name | title }}</h3><br>

<ul class="collapsible">
    {% for quote in theme_quotes %}
    <li>
        <div class="collapsible-header">
            <div class="card-panel collapsible-card">
                <div class="row">
                    <div class="col s5 m4">
                        <h6 class="justify-left">{{ quote.book }} {{ quote.chapter }} :
                            {{ quote.start_verse }}{% if quote.end_verse%}-{{quote.end_verse}}{% endif %}</h6>
                    </div>
                    <div class="col s7 m8">
                        <h6 class="justify-left theme-small">Theme: <strong>{{ quote.theme }}.</strong></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <h5>"{{quote.text}}"</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <strong>Added by:</strong> {{quote.added_by}}
                    </div>
                    <div class="col s6 btn-col">
                        <i class="fas fa-caret-down"></i>Comments
                    </div>
                </div>
            </div>
        </div>
        <div class="collapsible-body comment-body">
            <ul>
                {% if quote.id in all_comments|map(attribute="quote_id") %}
                {% for comment in all_comments %}
                {% if comment.quote_id == quote.id %}
                <li>
                    <div class="card-panel">
                        <div>
                            {{ comment.comment }}
                        </div>
                        <div class="btn-col">
                            <strong>By: </strong>{{ comment.comment_by }}
                        </div>
                    </div>
                </li>
                {% endif %}
                {% endfor %}
                {% else %}

                <li><h6>There are no comments about this quote yet. 
                {% if not session.user %} <a href="#modal2" class="modal-trigger"><strong>Login</a> or <a href="#modal1" class="modal-trigger"></strong>Register</strong></a> to make a Comment.{% endif %}
                </h6></li>
                {% endif %}
                {% if session.user %}
                <li>
                    <div class="card-panel make-comment-card">
                        <div class="row">
                                <form method="POST" action="{{ url_for('comment', quote_id=quote._id) }}">
                                <div class="input-field">
                                    <input name="comment" id="comment" minlength="3" type="text">
                                    <label for="comment"><i class="far fa-comment search-label"></i> Make a
                                        comment</label>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </li>
    {% endfor %}
</ul>

{% endif %}

{% endblock %}