{% extends "base.html" %}
{% block content %}
<h3 class="center-align">Edit a Quote</h3>
<div class="row card-panel add-quote-card">
    <form class="col s12" method="POST" action="{{ url_for('edit_quote', quote_id = quote._id) }}">
        <div class="row quote-row">
            <div class="input-field col s12">
                <i class="fas fa-bible prefix" aria-hidden="true"></i><span class="sr-only">Bible</span>
                <select name="theme" id="theme" class="validate" required>
                    <option value="" disabled selected>Choose a Theme</option>
                    
                    {% for _theme in themes %}
                        {% if _theme.theme == quote.theme %}
                            <option value="{{ _theme.theme }}" selected>{{ _theme.theme }}</option>
                            {% else %}
                            <option value="{{ _theme.theme }}">{{ _theme.theme }}</option>
                        {% endif %}
                    {% endfor %}
                    <option value="enter-new-theme" id="enter-new-theme" class="blue-text"><strong>Add a new theme</strong></option>
                </select>
                <input type="text" id="new_theme" name="new_theme" placeholder="Add a New Theme" class="" hidden>
                <label for="theme">Theme</label>
            </div>
        </div>

        <!-- Book -->
        <div class="row quote-row">
            <div class="input-field col s12">
                <i class="fas fa-book-open prefix"></i>
                <input id="book" name="book" minlength="3" maxlength="50"
                    type="text" class="validate"  value="{{ quote.book }}"required>
                <label for="book">Book</label>
            </div>
        </div>

        <!-- Chapter -->
        <div class="row quote-row">
            <div class="input-field col s12">
                <i class="fas fa-scroll prefix" aria-hidden="true"></i><span class="sr-only">Scroll</span>
                <input id="chapter" name="chapter" minlength="1" maxlength="3"
                    type="text" class="validate" value="{{ quote.chapter }}"required>
                <label for="chapter">Chapter</label>
            </div>
        </div>

        <!-- Start verse -->
        <div class="row quote-row">
            <div class="input-field col s12">
                <i class="fas fa-quote-left prefix" aria-hidden="true"></i><span class="sr-only">Quote left</span>
                <input id="start_verse" name="start_verse" minlength="1" maxlength="3"
                    type="text" class="validate" value="{{ quote.start_verse }}"required>
                <label for="start_verse">Start Verse</label>
            </div>
        </div>

        <!-- End verse -->
        <div class="row quote-row">
            <div class="input-field col s12">
                <i class="fas fa-quote-right prefix" aria-hidden="true"></i><span class="sr-only">Quote right</span>
                <input id="end_verse" name="end_verse" minlength="1" maxlength="3"
                    type="text" value="{{ quote.end_verse }}" >
                <label for="end" class="end-label">End Verse (if longer than a single verse) </label>
            </div>
        </div>
        <!-- text -->
        <div class="row quote-row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix" aria-hidden="true"></i><span class="sr-only">Left lines</span>
                <textarea id="text" name="text" class="materialize-textarea validate" required>{{- quote.text -}}</textarea>
                <label for="text">Text</label>
            </div>
        </div>

        <!-- submit button -->
        <div class="row quote-row">
            <div class="col s12 center-align">
                <button type="submit" class="btn ed-quote-btn blue">
                    Edit Quote <i class="fas fa-pencil-alt right" aria-hidden="true"></i><span class="sr-only">Pencil</span>
                </button>
                <a href="{{ url_for('my_quotes') }}" class="btn ed-quote-btn red">
                    Cancel <i class="fas fa-times-circle right" aria-hidden="true"></i><span class="sr-only">Times circle</span>
                </a>
            </div>
        </div>
    </form>
</div>
<script>
// Select elements
const theme = document.querySelector('#theme');
const newTheme = document.querySelector('#new_theme');
// Add event listener
theme.addEventListener('change', (event) => {
    // Check if new theme option is selected from dropdown
    let isNewTheme = event.target.value === 'enter-new-theme';

    // if it is, remove hidden from input
    if (isNewTheme) {
        newTheme.removeAttribute ("hidden");
        newTheme.classList.add("validate");
        newTheme.setAttribute("required", true);
    }
    // Otherwise, add hidden
    else{
        newTheme.setAttribute("hidden", true);    
    }
});


</script>
{% endblock %}