{% extends "base.html" %}
{% block content %}

<!-- Search Bar -->
<div class="card-panel">
<form>
    <div class="input-field">
      <input id="search" type="search" required>
      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
      <i class="material-icons">close</i>
    </div>
</form>
</div>
  <section>
    <p>Search for a bible quote relevant to a chosen theme by typing the theme into the search bar.  Alternatively browse all themes using the dropdown below and click on a theme to view associated quotes.  You can comment on quotes or add and edit your own chosen bible quotes but you must first be registered and logged in to do so.
    </p>
</section>

<ul class="collapsible">
  <li>
    <div class="collapsible-header">
      <i class="fas fa-caret-down"></i>Browse Themes
    </div>
    <div class="collapsible-body">
      <ul>
        {% for _theme in themes %}
        <li><a href="{{ url_for('browse_themes') }}">{{ _theme.theme }}</a></li>
        {% endfor %}
          
      </ul>
  </div>

    </li>


</ul>

{% endblock %}