{% extends "base.html" %}
{% block content %}
<h4 class="center">This page displays the quotes on which you have commented.  Expand each quote to see its comments.  You can edit or delete your own comments here.</h4>

{% if my_comments|length > 0 %}

<ul class="collapsible">
    <li>
        <!-- Juliet's code -->
        {% for quote in all_quotes %}
        {% if quote.id in my_comments|map(attribute="quote_id") %}
        {% for comment in my_comments %}
        {% if quote.id == comment.quote_id %}
       
        <div class="collapsible-header">
            <div class="card-panel collapsible-card">
                <div class="row">
                    <div class="col s5 m4">
                        <h6 class="justify-left">{{ quote.book }} {{ quote.chapter }} :
                            {{ quote.start_verse }}{% if quote.end_verse%}-{{quote.end_verse}}{% endif %}</h6>
                    </div>
                    <div class="col s7 m8">
                        <h6 class="justify-left theme-small">Theme: <strong>{{ quote.theme }}.</strong></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <h5>"{{quote.text}}"</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <strong>Added by:</strong> {{quote.added_by}}
                    </div>
                    <div class="col s6 btn-col">
                        <i class="fas fa-caret-down"></i>Comments
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor%}
        {% endif %}
        

        <!-- Comments section -->
        <div class="collapsible-body comment-body">
            <ul>
               <!-- Michaels mapping that worked in my_quotes -->
               <!-- {% for quote in all_quotes %} MAYBE, but doesn't help with error-->
                {% if quote.id in my_comments|map(attribute="quote_id") %}
                {% for comment in my_comments %}
                {% if comment.quote_id == quote.id %}
                <li>
                    <div class="card-panel">
                        <div class="row btn-col">
                            <div class="col s12 btn-col">
                                <a href="#modal2{{comment_id }}" class="btn-small"><i
                                    class="fas fa-pencil-alt modal-trigger"></i></a>
                                <a href="#modal1{{comment_id}}" class="btn-small modal-trigger"><i
                                        class="far fa-trash-alt modal-trigger"></i></a>
                            </div>
                        </div>
                        <div>
                            {{ comment.comment }}
                        </div>
                        <div class="btn-col">
                            <strong>By: </strong>{{ comment.comment_by }}
                        </div>
                        
                    </div>
                </li>
                {% endif %}
                {% endfor %}
                {% endif %}
                <!-- {% endfor %} -->
                <li>
                    <div class="card-panel make-comment-card">
                        <div class="row">
                            <form method="POST" action="{{ url_for('comment', quote_id=quote._id) }}">
                                <div class="input-field">
                                    <input name="comment" id="comment" minlength="3" type="text">
                                    <label for="comment"><i class="far fa-comments search-label"></i> Make a
                                        comment</label>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!--Confirm delete modal-->
        <div id="modal1{{quote._id}}" class="modal">
            <div class="modal-content">
                <h3>Confirm Delete</h3>
                <h5>Are you sure that you want to delete this comment?</h5>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close btn blue text-shadow">
                    Cancel<i class="far fa-times-circle right"></i></a>
                <a href="{{ url_for('delete_comment', comment_id=comment._id) }}"
                    class="modal-close btn red text-shadow">
                    Delete<i class="fas fa-times-circle right"></i></a>
            </div>
        </div>
        <!-- End modal -->
        <!--Edit comment modal-->
        <div id="modal2{{quote._id}}" class="modal">
            <div class="modal-content">
                <div class="card-panel make-comment-card">
                    <div class="row">
                        <form method="POST" action="{{ url_for('edit_comment', quote_id=quote._id, comment_id=comment._id) }}"></form>
                            <div class="input-field">
                                <input name="comment" id="comment" minlength="3" type="text" value="{{ comment.comment }}">
                                <label for="comment"><i class="far fa-comments search-label"></i> Edit
                                    comment</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer center-align">
                <button type="submit" 
                    class="modal-close btn blue"><a> Edit<i class="fas fa-pencil-alt right"></i>
                   </a></button>
            </div>
        </div>
        <!-- End modal -->
    </li>
    {% endfor %}
</ul>
{% else %}
<h4 class="red-text text-darken-4 center-align">You have not commented on any quotes yet.</h4>
{% endif %}

{% endblock %}