{% extends "base.html" %}
{% block content %}
<h4 class="center">This page displays the quotes on which you have commented.  Expand each quote to see its comments.  You can edit or delete your own comments here.</h4>

{% if commented_quotes | length > 0 %}

<ul class="collapsible">
    {% for quote in commented_quotes %}
    <li>
        <div class="collapsible-header">
            <div class="card-panel collapsible-card">
                <div class="row">
                    <div class="col s5 m4">
                        <h6 class="justify-left">{{ quote.book }} {{ quote.chapter }} :
                            {{ quote.start_verse }}{% if quote.end_verse%}-{{quote.end_verse}}{% endif %}</h6>
                    </div>
                    <div class="col s7 m8">
                        <h6 class="justify-left theme-small">Theme: <strong>{{ quote.theme }}.</strong></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <h5>"{{quote.text}}"</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <strong>Added by:</strong> {{quote.added_by}}
                    </div>
                    <div class="col s6 btn-col">
                        <i class="fas fa-caret-down"></i>Comments
                    </div>
                </div>
            </div>
        </div>
       
    </li>
    {% endfor %}
</ul>
{% else %}
<h4 class="red-text text-darken-4 center-align">You have not commented on any quotes yet.</h4>
{% endif %}

{% endblock %}