{% extends "base.html" %}
{% block content %}
<h3 class="center">My Quotes</h3>
<ul class="collapsible">
    {% for quote in quotes %}
    {% if session.user|lower == quote.added_by|lower %}

    <li>
        <div class="collapsible-header">
            <div class="card-panel collapsible-card">
            <div class="row">
                <div class="col s8">
                    <h6 class="justify-left">{{ quote.book }} {{ quote.chapter }} :
                        {{ quote.start_verse }}{% if quote.end_verse%}-{{quote.end_verse}}{% endif %}</h6>
                </div>
                <div class="col s4 btn-col">
                    <a href="{{ url_for('edit_quote', quote_id=quote._id) }}" class="btn-small"><i class="fas fa-pencil-alt"></i></a>
                    <a href="#" class="btn-small"><i class="far fa-trash-alt"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <h5>"{{quote.text}}"</h5>
                </div>
            </div>
            <div class="row">
                <div class="col s12 btn-col">
                    <i class="fas fa-caret-down"></i>Comments
                </div>
            </div>
        </div>
        </div>
        <div class="collapsible-body">
            <ul>
                Comments
                user_id
            </ul>
        </div>
    </li>

    {% endif %}
    {% endfor %}
</ul>
{% endblock %}